body {
    background-color: #232322;
    margin: 0;
    font-family: "Arial","Monserrat", "Avenir";
    background-repeat: no-repeat;
}

h1 {
    color: white;
    line-height: 1.1;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}

.h1Container{
    background-color: steelblue;
}

#colorDisplay{
    font-size: 100%;
    font-weight: bolder;
}

#message {
display: inline-block;
width: 20%;
font-weight: bolder;
text-transform: uppercase;
transition: all 0.5s;
border: green 1px;
margin: auto auto;
}
.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
}

#container {
    margin: 0 auto;
    max-width: 600px;;
}
 
#stripe{
    background-color: white;
    height: 50px;
    text-align: center;
    color: black;
}

.selected{
    color: white;
    background-color: steelblue;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight:700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.5s;
    outline: none;
}
button:hover {
    color: white;
    background-color: steelblue;
}
